*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif, 'Poppins', sans-serif,  'Great Vibes', cursive;
    color: #c39a62, white, #f8b500, rgb(128, 128, 128);
}
.clr{
    clear: both;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    list-style: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

